/* Props to Dan Beebe for help with alignment  */

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #081c24;
  min-height: 100vh;
}

.header {
  text-align: center;
  background-color: #081c24;
  background-size: cover;
}

.app-name {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Shrikhand", cursive;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-item {
  padding: 15px;
  color: white;
  font-family: "Shrikhand", cursive;
  text-decoration: none;
}

.movies-container, .seen-movies-container, .single-movie-container {
  background-color: #01d277;
}

.movie-search {
  display: flex;
  justify-content: center;
}

.input, .submit {
  font-size: 20px;
}

.posters-container {
  display: flex;
  flex-direction: row;
  max-width: 820px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.popular-poster, .seen-poster, .search-poster {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.single-movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title, .tagline, .synopsis-header, .genre, .runtime, .release-date, .seen-it {
  font-size: 20px;
}

.movie-title, .tagline, .synopsis-header, .synopsis, .genre, .runtime, .release-date, .seen-it {
  color: white;
  font-family: "Shrikhand", cursive;
}

.seen-movies-header {
  text-align: center;
}

.delete-movie {
  display: flex;
  justify-content: center;
  opacity: 0;
}

.seen-movies-container:hover .delete-movie {
  display: flex;
  justify-content: center;
  opacity: 1;
}